
# ignore mac files
.DS_Store

# ignore IDE garbage
.idea/*

# ignore compiled python stuff
*.pyc

# ignore the data directories
data_raw_tweets/
data_processed_tweets/
data_finished_images/
data_approved_images/


