/*overrides bootstrap.min.css*/
body {
    color: #444;
    background-color: #000;
}

/*thank you http://stackoverflow.com/questions/12415661/using-marginauto-to-vertically-align-div
for giving this vertical-align solution*/

.container {
      display: table;
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 100%;
}

.helper {
    #position: absolute; /*a variation of an "lte ie7" hack*/
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.content {
    #position: relative;
    #top: -50%;
    margin:0 auto;
    /* what is our projector resolution? */ 
    /* once the images are in add min-width? */
    max-width:800px; 
   
}
